@import url("reset.css");
/* 
Used font families:
"Poppins-Medium";
"Poppins-Regular";
"Poppins-Bold";
"Poppins-SemiBold";
"Poppins-ExtraBold";
*/

/**/
.center {
  width: 1410px;
}

* {
  font-family: "Poppins", sans-serif;
}

/**/
.header__side--top {
  background-color: #111;
}

.header_top_in {
  padding: 9px 0;
}

.header__top__menus {
}

.header__top__menus li {
}

.header__top__menus li:not(:last-child):after {
  margin: 0 12.5px;
  content: "|";
}

.header__top__menus li:not(:last-child):after,
.header__top__menus li a {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #fff;
}

.social_list a:not(:last-child) {
  margin-right: 16.5px;
}

.ss {
  font-family: "Poppins-Regular";
}
