*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border-radius: 0;
	border: 0;
}

html, 
body{
	width: 100%;
	min-height: 100vh;
    float: left;
}

a, span{
	display: inline-block;
}

a{
	text-decoration: none;
}

ul li,
ol li{
	list-style-type: none;
}

button{
	cursor: pointer;
}

input[type='radio'],
input[type='checkbox'],
input[type='searh'],
input[type='number'],
select{
	appearance: none;
}


p:empty{
	display: none;
}


