*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border-radius: 0;
	border: 0;
}

html, 
body{
	width: 100%;
	min-height: 100vh;
    float: left;
}

a, span{
	display: inline-block;
}

a{
	text-decoration: none;
}

ul li,
ol li{
	list-style-type: none;
}

button{
	cursor: pointer;
}

input[type='radio'],
input[type='checkbox'],
input[type='searh'],
input[type='number'],
select{
	appearance: none;
}


p:empty{
	display: none;
}

.center{
	position: relative;
	margin: 0 auto;
	float: none;
}

.full_w{
	width: 100%;
	float: left;
}

.flex{
	display: flex;
}

.flex_wrap{
	flex-wrap: wrap;
}

.direction_column{
	flex-direction: column;
}

.justify_between{
	justify-content: space-between;
}

.justify_end{
	justify-content: flex-end;
}


.align_center{
	align-items: center;
}






















